//Color variables

$black: #353535;
$greenblue: #3c6e71;
$white: #ffffff;
$grey: #d9d9d9;
$blue: #284b63;

@import '../../node_modules/bootstrap/scss/bootstrap';

$navbar-dark-color: #353535;
$navbar-dark-hover-color: #d9d9d9;
$navbar-dark-active-color: #ffffff;
$navbar-dark-brand-color: #284b63;

@import '../../node_modules/bootstrap/scss/bootstrap';